.backspace {
	position: absolute;
	width: 100%;
	height: 100%;
}

.location {
	position: absolute;
	border: 1px solid gray;
	padding: 10px;
}

.location-cards {
	display: flex;
	flex-direction: row;
}

.card {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.side {
	border: 1px solid black;
	border-radius: 10px;
}
